* {
    margin: auto;
    padding: auto;
}

body {
    background-color: #d4ccbf;
}

body .navv {
    background-color: #d4ccbf;
}

body .navbar{
    float: right;
    overflow: auto;
    text-align: center;
    position: static;
   
}

body .navbar ul {
    list-style-type: none;
 
    
}

.navbar ul li {
    display: inline-block;
   
  
   
}
.navbar ul li a{
    float: none;
    display: block;
    text-decoration: none;
    margin-left: 30px;
    font-size: 25px;
    color: black;
}

.navbar ul li a:hover{
    color: crimson;
}

section .menu2 {
    padding-left: 10%;
}

.sec p {
    font-weight: bolder;
    font-size: 300%;
    color: crimson;
}


.sec .barrelRoll {
    position: sticky;
    float: right;
    margin-bottom: 30%;
}

#image1 {
    background-size: cover;
}

section #menu {
    padding-left: 40%;
}

.menu2 .card {
   border-radius: 2%;
   
   border-style: double;
   opacity: 200%;
   background-color: transparent;
}

#cardnew {
    background-color: #f6f5e2;
}

.card .order1 {
    padding-left: 40%;
}
 .foot h1 {
     color: white;
     padding-left: 40%;
 }
.foot {
    background-color: #202721;
}

.foot .col-md-2 {
    color: white;
}

.foot .footer {
    color: white;
    padding-left: 40%;
}
