* {
    margin: auto;
    padding: auto;
}


body .navbar{
    float: right;
    
    overflow: auto;
    text-align: center;
    position: static;
   
}

body .navbar ul {
    list-style-type: none;
    background: url("images/image1.jpg");
    
   
    
   
    
    
}

.navbar ul li {
    display: inline-block;
   
  
   
}
.navbar ul li a{
    float: none;
    display: block;
    text-decoration: none;
    margin-left: 30px;
    font-size: 25px;
    color: black;
}

.navbar ul li a:hover{
    color: crimson;
}



body .sec {
     background: url("images/image1.jpg");
    background-size: cover;
    
    
}

.sec img {
    position: relative;
}
.sec .barrelRoll {
    position: sticky;
    float: right;
    margin-bottom: 30%;
}

#image1 {
    background-size: cover;
}

section #menu {
    padding-left: 40%;
}

.menu2 .card {
   border-radius: 2%;
   
   border-style: double;
   opacity: 200%;
   background-color: transparent;
}

.card .order1 {
    padding-left: 40%;
}
