* {
    margin: auto;
    padding: auto;
}


body nav{
    float: right;
    display: inline-block;
    overflow: auto;
    text-align: center;
   
}

body .navbar ul {
    list-style-type: none;
    background: url("images/image1.jpg");
    
   
    
   
    
    
}

.navbar ul li {
    display: inline-block;
   
  
   
}
.navbar ul li a{
    float: none;
    display: block;
    text-decoration: none;
    margin-left: 30px;
    font-size: 25px;
    color: black;
}

.navbar ul li a:hover{
    color: crimson;
}

body .sec {
     background: url("images/image1.jpg");
    background-size: cover;
    
    
}
